* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
font-family: 'Open Sans', sans-serif;
}

.wd60{
    width:60%;
    margin:auto;
}

.wd80{
  width:80%;
  margin: auto;
}

.wd90{
  width:90%;
  margin:auto;
}
/* NAVBAR */

nav.navbar {
  position: fixed;
  top: 0px;
  margin-bottom: 0;
  width: 100%;
  z-index: 1000;
}

nav img {
  height: 100%;
}

nav *{
  color:darkblue!important;
}


#sing_up {
  color: #006aff;
  border: 2px solid #006aff;
  padding: 5px 7px;
  border-radius: 7px;
}

#sing_up:hover {
  background-color: #006aff;
  color: white;
}



/* HEADER */

header {
  background-image: url(../resources/bg.jumbo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 400px;
  margin-top: 50px;
  color:white;
}

header h1{
  text-align: left;
  font-size: 50px;
  font-weight: bolder;
  padding-top: 50px;
  margin: 0 auto 50px auto;
}

header p{
  text-align: left;
  font-size:26px;
  padding-bottom:50px;
}

form{
  color:black;;
  background-color: #fff;
  margin:50px 5%;
  border-radius: 10px;
}
form input{
  display: inline-block;
  margin:15px auto;
  width:80%;
  height: 50px;
  text-align: left;
}
form h4{
  font-weight: bolder;
}

form h4:first-child{
  padding-top: 40px;
}

form p{
  font-size:14px;
  text-align:center;
  padding-top:25px;
}

form button{
  width: 80%;
  margin:15px auto;
  background-color: #579aff;
}





/* Section 1  Innovative businesses*/

#section1 {
  padding:50px 0;
    background-color: #f3f5f9;
}






/* Section 2  Deploy and scale */






/* Section 3 for developers */





/* SECTION 4 - Built*/




/* SECTION 5 - Service*/

#section5 {
  background-image: linear-gradient(#0040ba, #00219c);
}

/* Section 6 - Development teams */

#section6 {
  background-color: #f3f5f9;
}

/* Section 7 - Service */

#section7 {
  background-image: linear-gradient(#0040ba, #00219c);
  min-height: 200px;
}

/* FOOTER */
